#block-views-related-news-by-topics-block .view-content a.title{
  padding-left: 22px;
  position: relative;
  display: block;
  margin-bottom: 1em;
}

#block-views-related-news-by-topics-block .view-content a.title i.icon{
  position: absolute;
  left: 0;
}
