#mega-menu span.ext{
  display: none;
}

#mega-menu ul.links{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#25467b),color-stop(100%,#3b5988));
  background-image: -webkit-linear-gradient(#25467b,#3b5988);
  background-image: -moz-linear-gradient(#25467b,#3b5988);
  background-image: -o-linear-gradient(#25467b,#3b5988);
  background-image: linear-gradient(#25467b,#3b5988);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px
}

#mega-menu ul.links li{
  font-family: "Droid Sans","Helvetica Neue",Arial,sans-serif;
  list-style: none;
  float: left;
  width: 20%;
  padding: 0.5em 0 0 0;
}

#mega-menu ul.links li.last a{
  border: none;
}

#mega-menu ul.links li a{
  color: #BFCCE2;
  line-height: 1em;
  display: block;
  padding-left: 1em;
  border-right: 1px solid #bfcce2;
  font-weight: bold;
}

#mega-menu ul.links li a.current,
#mega-menu ul.links li a:hover {
  color: #fff;
}

#mega-menu ul.links li a .description {
  font-weight: normal;
  font-size: .8em;
}

/* Panes */
#mega-menu .mega-tabs-panel{
  position: relative;
  padding: .5em;
  border: 1px solid #036;
  background: #fff;
  display: none;
  border-top: none;
  position: relative;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#mega-menu .mega-tabs-panel .megamenu-top3{
  overflow: hidden;
}

#mega-menu .mega-tabs-panel .megamenu-top3 .view-header{
  position: absolute;
  top: -8px;
  right: -8px;
}
#mega-menu .mega-tabs-panel .megamenu-top3 .view-header p{
  margin: 0; padding: 0;
}
#mega-menu .mega-tabs-panel .megamenu-top3 a.close{
  background: url(../images/close.png) center center;

  text-indent: -9999px;
  width: 30px;
  height: 30px;
  display: block;
}

#mega-menu .mega-tabs-panel .megamenu-top3 .views-row {
  width: 192px;
  float: left;
  text-align: center;
  padding: .5em;
  border-right: 1px solid #EEE;
    margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#mega-menu .mega-tabs-panel .megamenu-top3 .views-row img {
  width: 115px;
  height: 115px;
}

#mega-menu .mega-tabs-panel .attachment{
  width: 530px;
  float: left;
  margin-left: 10px;
}

#mega-menu .mega-tabs-panel .attachment .view-content{
  overflow: hidden;
}

#mega-menu .mega-tabs-panel .attachment .views-row {
  display: block;
  width: auto;
  border: none;
  float: none;
}

#mega-menu .mega-tabs-panel .attachment .views-field-title a{
  display: block;
  line-height: 23px;
  padding-left: 2.5em;
  text-align: left;
  position: relative;
}

#mega-menu .mega-tabs-panel#tab-1 .attachment .views-field-title a,
#mega-menu .mega-tabs-panel#tab-4 .attachment .views-field-title a{
  padding-left: 2.8em;
}

#mega-menu .mega-tabs-panel .attachment .views-field-title a .icon{
  font-size: 1.8em;
  position: absolute;
  left: 0;
  color: #3D648E;
}

#mega-menu .mega-tabs-panel .attachment .views-field-title a:hover .icon{
  color: inherit;
}

#mega-menu .mega-tabs-panel .attachment .view-footer{
  text-align: right;
}
