@media screen and (max-width: 1200px) { #mega-menu .mega-tabs-panel .attachment { width: 480px; } }
@media screen and (min-width: 1170px) and (max-width: 1200px){ #mega-menu .mega-tabs-panel .attachment { width: 450px; } }
@media screen and (min-width: 1140px) and (max-width: 1170px){ #mega-menu .mega-tabs-panel .attachment { width: 430px; } }
@media screen and (min-width: 1110px) and (max-width: 1140px){ #mega-menu .mega-tabs-panel .attachment { width: 400px; } }
@media screen and (min-width: 1080px) and (max-width: 1110px){ #mega-menu .mega-tabs-panel .attachment { width: 370px; } }
@media screen and (min-width: 1050px) and (max-width: 1080px){ #mega-menu .mega-tabs-panel .attachment { width: 340px; } }
@media screen and (min-width: 1020px) and (max-width: 1050px){ #mega-menu .mega-tabs-panel .attachment { width: 310px; } }
@media screen and (min-width: 990px) and (max-width: 1020px){ #mega-menu .mega-tabs-panel .attachment { width: 280px; } }
@media screen and (min-width: 970px) and (max-width: 990px){ #mega-menu .mega-tabs-panel .attachment { width: 250px; } }
@media screen and (min-width: 940px) and (max-width: 970px){ #mega-menu .mega-tabs-panel .attachment { width: 250px; } }

@media screen and (max-width: 970px) {
  #mega-menu .mega-tabs-panel .attachment {clear: left; width: 100%; }
  #mega-menu .mega-tabs-panel .view-id-megamenu .attachment {margin: 10px 0 0 0;}
  #mega-menu .mega-tabs-panel .view-id-megamenu .attachment .views-row { float: none; width: 100%; }
  #mega-menu .mega-tabs-panel .view-id-megamenu .views-row{
    width: 30%;
    border: none;
  }
  #mega-menu .mega-tabs-panel .view-id-megamenu .attachment{
    border-top: 1px solid #EEE;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {

  #mega-menu ul.links {
    text-align: center;
    padding: 0.5em 0;
  }

  #mega-menu ul.links li {
    float: none;
    display: inline;
  }

  #mega-menu ul.links li a {
    display: inline;
    padding: 0 1em;
    width: auto;
  }

  #mega-menu ul.links li a .description {
    display: none;
  }
}

@media screen and (max-width: 654px) {
  #mega-menu .mega-tabs-panel .view-id-megamenu .views-row{
    border: none;
    width: 45%;
  }
  #mega-menu .mega-tabs-panel .view-id-megamenu .views-row.views-row-last{
    clear: left;
  }

  #mega-menu .mega-tabs-panel .view-id-megamenu .attachment .views-row{
    width: 100%;
  }

}

@media screen and (max-width: 390px) {
  #mega-menu .mega-tabs-panel .view-id-megamenu .views-row{
    float: none;
    width: auto;
  }
  #mega-menu .mega-tabs-panel .attachment{
    width: auto;
    margin: 0;
  }
  #mega-menu .mega-tabs-panel .attachment .views-row{
    width: 100%;
  }
}
